<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cm.cdc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".admin.DeleteEvent"></activity>
        <activity android:name=".admin.EventHandler" />
        <activity android:name=".ShowEventDetails" />
        <activity android:name=".admin.AdminEvent" />
        <activity android:name=".UpdateInternshipData" />
        <activity android:name=".InternshipList" />
        <activity android:name=".admin.AddInternship" />
        <activity android:name=".admin.AdminIntern" />
        <activity
            android:name=".VideoPlay"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".Signup2" />
        <activity android:name=".Signup3" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Placement_company_list" />
        <activity android:name=".Placement_data" />
        <activity android:name=".admin.AdminC" />
        <activity android:name=".admin.AdminPlacement" />
        <activity android:name=".admin.AddPlacement" />
        <activity android:name=".UpdateData" />
        <activity android:name=".Signup21" />
    </application>

</manifest>